# Node.js dependencies
node_modules/

# TypeScript compiled output
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.test

# Mac system files
.DS_Store

# IDE specific files
.vscode/
.idea/

# TypeScript specific files
*.tsbuildinfo
